<ion-navbar *navbar>
    <ion-title>Top Heroes</ion-title>
</ion-navbar>
<ion-content class="topHeroesPage">
    <ion-refresher (refresh)="loadHeroes($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item *ngFor="#hero of heroes">
            <ion-avatar item-left>
                <img src="{{hero.person.getPicture()}}">
            </ion-avatar>
            <h2>{{hero.person.name}}</h2>
            <ion-badge secondary item-right>260k</ion-badge>
        </ion-item>
    </ion-list>
    <h5 padding *ngIf="!heroes || heroes.length == 0">You don't have HEROes yet. Please go to People section to promote yours.</h5>
</ion-content>