<ion-content padding>
    <h2>Promote {{person.name}}!</h2>
    <ion-label stacked>Comment</ion-label>
    <ion-input type="text" [(ngModel)]="comment"></ion-input>
    <button (click)='post()'>Post</button>
    <button (click)='cancel()'>Cancel</button>
</ion-content>