<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Top Heroes"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Latest Heroes"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="People"></ion-tab>
</ion-tabs>
