<ion-navbar *navbar><ion-title>Promote your Hero</ion-title></ion-navbar>
<ion-content class="peoplePage">
    <ion-refresher (refresh)="loadPeople($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item *ngFor="#person of people" (click)="promote(person)" >
            <ion-avatar item-left>
                <img src="{{person.getPicture()}}">
            </ion-avatar>
            <h2>{{person.name}}</h2>
            <button item-right>Promote</button>
        </ion-item>
    </ion-list>
</ion-content>
